.title {
    z-index: 200;
    text-align: center;
    position: absolute;
    width: 100%;
    color: lightgray;
    letter-spacing: 0.9px;
    font-weight: 500;
    font-size: 30px;
    /* display: block; */
    top: 15px;
}